.hero-area {
  background: rgba(0, 0, 0, 0.5) url('https://images.pexels.com/photos/2527248/pexels-photo-2527248.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: darken;
}